/*ICONES REDES SOCIAIS*/

.icone {
    background-image: url(../img/22235-.png);
    size: 3em;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 1em;
}

.icone.facebook {
    background-position: 0 -4px;
    width: 57px;
    height: 57px;
}

.icone.twitter {
    background-position: -61px -4px;
    width: 57px;
    height: 57px;
}

.icone.instagram {
    background-position: -124px -4px;
    width: 57px;
    height: 57px;
}

.icone.youtube {
    background-position: -187px -5px;
    width: 57px;
    height: 57px;
}

.icone.snapchat {
    background-position: -251px -5px;
    width: 57px;
    height: 57px;
}

.icone.spotify {
    background-position: -315px -5px;
    width: 57px;
    height: 57px;
}

@media only screen and (max-width:600px) {
    .icone {
        background-size: 11em;
        margin: .5em;
    }
    .icone.facebook {
        background-position: 1px -2px;
        width: 27px;
        height: 27px;
    }
    .icone.twitter {
        background-position: -28px -2px;
        width: 27px;
        height: 27px;
    }
    .icone.instagram {
        background-position: -58px -2px;
        width: 27px;
        height: 27px;
    }
    .icone.youtube {
        background-position: -87px -2px;
        width: 27px;
        height: 27px;
    }
    .icone.snapchat {
        background-position: -117px -2px;
        width: 27px;
        height: 27px;
    }
    .icone.spotify {
        background-position: -147px -2px;
        width: 27px;
        height: 27px;
    }
}